*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #000000;
    width: 100%;
    min-height: 100vh;
    padding: 20px auto;
}

nav {
    display: flex;
    align-items: center;
}

nav .item-logo{
    width: 150px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}