*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    background-color: #000000;
    width: 100%;
    min-height: 100vh;
    padding: 10px 30px 0;
}

.headers {
    display: flex;
}

.item-img img {
    width: 120px;
    height: 120px;
}

.item-img2 img {
    width: 500px;
    height: 500px;
}

.item-img2 {
    margin: 0 auto 0;
}


.item-headers {
    color: whitesmoke;
    font-family: monospace;
    font-size: 8px;
    letter-spacing: 2px;
    gap: 30px;


    display: flex;
    margin-top: 20px;
    margin-left: auto;
}



